<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <!-- FAVICON -->
  <link href="imgs/favicon.ico" rel="icon" type="image/x-icon">
  <title>Never Enough Novels</title>
</head>

<body>
  <!-- HEADER -->
  <header>
    
    <a href="/" class="logo"><h1>Never Enough Novels</h1></a>
    
    <nav class="navbar">
      <a href="/">
        <img src="https://i.imgur.com/nZgS9UO.png"></a>

      <a href="/books/library">
      <img src="https://i.imgur.com/Pono3XX.png"></a>
    
      <% if (user) { %>
      <a href="/logout">LOG OUT&nbsp;<img src="https://i.imgur.com/c4nYqf5.png"></a>
      <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/c4nYqf5.png"></a>
      <% } %>
    </nav>

  </header>

  <main>
