<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <!-- CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz@16..144&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <!-- FAVICON -->
  <link href="imgs/favicon.ico" rel="icon" type="image/x-icon">
  <title>Never Enough Novels</title>
</head>

<body>
  <!-- HEADER -->
  <header>
    
    <img src="/imgs/book.png">
    
    <nav class="navbar">
      <a href="/">HOME
        <img src="/imgs/home-line.png"></a>

      <a href="/books/library">MY LIBRARY
      <img src="/imgs/bookmark-line.png"></a>
    
      <% if (user) { %>
      <a href="/logout">LOG OUT&nbsp;<img src="/imgs/user-line.png"></a>
      <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;<img src="/imgs/user-line.png"></a>
      <% } %>
    </nav>

  </header>
