<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- FAVICON -->
  <link href="imgs/favicon.ico" rel="icon" type="image/x-icon">
  <title>Never Enough Novels</title>
</head>

<body>
  <!-- HEADER -->
  <header>
    
    <a href="/" class="logo"><h1>Never Enough Novels</h1></a>
    
    <nav class="navbar">
      <a href="/">HOME
        <img src="/imgs/home-line.png"></a>

      <a href="/books/library">MY LIBRARY
      <img src="/imgs/bookmark-line.png"></a>
    
      <% if (user) { %>
      <a href="/logout">LOG OUT&nbsp;<img src="/imgs/user-line.png"></a>
      <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;<img src="/imgs/user-line.png"></a>
      <% } %>
    </nav>

  </header>

  <main>
