<%- include('./partials/header') %>
<main>
  <h1>Home Page</h1>

  <form action="/books/search"  method="GET">
  <input type="text" class="search"> <br>
  <button type="submit" class="submit">Show me the novels</button>
  </form>
</main>

<%- include('./partials/footer') %>