<%- include('./partials/header') %>
  
  <section class="home" id="home">
  <div class="content">
    <h3>Featured</h3>
    <span>Explore newest releases</span>
    <p>Explore the boundless realms of knowledge and adventure as you curate your digital library with our virtual bookshelf, where every click opens a door to a world of captivating stories and enlightening discoveries</p>
    <form action="/books/search"  method="GET">
      <input type="text" id="search" name="search" placeholder="Enter title or author...">
      <button type="submit" class="submit">Search</button>
    </form>
  </div>


<%- include('./partials/footer') %>