* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  outline: none; border:none;
  text-decoration: none;
  text-transform: initial;
  transition: .2s linear;
}

html{
  font-size: 80%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

/* header starts here */
header {
  position: fixed;
  top: 0; left: 0; right: 0;
  background: #D6CCC2;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgb(0, 0, 0,.1);
}

.logo > h1 {
  font-weight: 900;
  font-style: italic;
  color: #EDEDE9;
}

header .navbar a{
  font-size: 2rem;
  padding:0 1.5rem;
  color: #EDEDE9;
}

header .navbar a:hover{
  color: #D5BDAF;
}

.navbar > img {
  width: 500;
  height: 300;
}

section {
  padding: 2rem 9%;
  margin-top: 8rem;
}
/* header ends here */

/* home page starts here */
.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 50rem;
}

.home .content h3{
  font-size: 6rem;
  color: #D5BDAF;
}

.home .content span{
  font-size: 3.5rem;
  color: #E3D5CA;
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p{
  font-size: 1.5rem;
  color: #D6CCC2;
  padding: 1rem 0;
  line-height: 1.5;
}

.submit{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #D5BDAF;
  color: #fff;
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.submit:hover{
  background: #D5BDAF;
}

#search {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #D6CCC2;
  border-radius: 4px;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #D5BDAF;
  padding: 1rem;
  margin: 2rem 0;
}
/* home page ends here */

/* results page starts here */
.library {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  max-width: 50rem;
}

.library .heading {
  font-size: 6rem;
  color: #96616B;
}

.library p{
  font-size: 1.5rem;
  color: #96616B;
  padding: 1rem 0;
  line-height: 1.5;
}

.books .box-container {
  display: flex;
  flex-wrap: wrap;
  grid: 1.5rem;
}

.books .box-container .box{
  flex: 1 1 30rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border-radius: .5rem;
  border: .1rem solid rgba(0,0,0,.1);
  position: relative;
}

.books .box-container .box .bookimg{
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.books .box-container .box .bookimg img{
  height: 20rem;
}

.books .box-container .box:hover .bookimg img{
  transform: scale(1.1);
}

 .box > p{
  font-size: 2rem;
  padding:0 1.5rem;
  text-align: center;
  color: #D5BDAF;
 }

#addlibrary {
  position: absolute; 
  bottom: 0; left: 0; right: 0;
  display: flex;
  background-color: transparent;
  color: transparent;
}

#addlibrary:hover {
  bottom: 0; left: 0; right: 0;
  background-color: #D6CCC2;
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 100%;
  color: #EDEDE9;
}
/* results page ends here */

/* my library page starts here */
#mylibrary {
  background-color: #fff;
  padding: 2rem 0;
}

.mylibrary {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.mylibrary .heading {
  font-size: 6rem;
  color: #D5BDAF;
  margin: 2rem 0;
}

.lib-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin-top: 2rem;
}

.lib-box {
  flex: 1 1 30rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border-radius: .5rem;
  border: 1rem solid rgba(0,0,0,0.1);
  position: relative;
  margin: 1rem;
  background-color: #fff;
}

.lib-box p {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  color: #D5BDAF;
}

.lib-bookimg {
  position: relaive;
  text-align: center;
  padding-top: 1rem;
}

.lib-bookimg img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.remove {
  display: block;
  background-color: #D5BDAF;
  color: #fff;
  padding: .7rem 1.7rem;
  cursor: pointer;
  font-size: 1.5rem;
  width: 100%;
  margin-bottom: .5rem;
}

.remove:hover {
  background: #333;
}

.lib-content a {
  display: block;
  background-color: #D5BDAF;
  color: #fff;
  padding: .7rem 1.7rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
}

.lib-content a:hover {
  background: #333;
}
/* my library page ends here */

/* show page starts here */
.show {
  background-size: cover;
  background-position: center;
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  color: #D5BDAF;
  font-size: 4rem;
}

.rating, .input-box {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

tr {
  border-bottom: 1px solid #ddd; /* Add a border between rows */
}

td {
  padding: 10px;
}

input[type="text"], select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button.submit {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #D5BDAF;
  color: #fff;
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
  text-decoration: none;
  margin-top: 0.5rem;
}

button.submit:hover {
  background: #D5BDAF;
}

h5 {
  color: #555;
  margin-top: 20px;
}

.avatar {
  border-radius: 50%;
  margin-right: 10px;
}

/* show page ends here */

/* edit page starts here */
.edit {
  max-width: 500px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 1-px rgba(0,0,0,.1);
  margin-top: 100px;
}

.edit > h2 {
  color: #333;
}

.edit-input-box {
  margin-bottom: 20px;
}

.edit-rating > input, select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

.edit-rating > label {
  font-weight: bold;
}

.edit-rating > button {
  background-color:#4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
  flex: 1 1 30rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border-radius: .5rem;
  border: .1rem solid rgba(0,0,0,.1);
  position: relative;
  width: 100%;
}
/* edit page ends here */

/* footer starts here */
.footer {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgb(0, 0, 0,.1);
}




