*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

nav .logo {
  display: flex;
  justify-content: flex-start 1;
}

.navmenu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.search, .submit {
  width:200px;
  padding:10px;
  border-radius:10px;
  width:30%;
}

.submit {
  padding:10px;
  border: none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:30%;
}

