:root {
  --purple: #E2A0FF;
} 

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0; left: 0; right: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgb(0, 0, 0,.1);
}

header.logo {
  font-size: 3rem;
  color: #6A5B6E; 
  font-weight: bolder;
}

header .navbar a{
  font-size: 2rem;
  padding:0 1.5rem;
  color: #96616B;
}

header .navbar a:hover{
  color:var(--purple);
}

a > img {
  width: 500;
  height: 300;
}

section {
  padding: 2rem 9%;
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background:url('../imgs/book2.png'); no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 50rem;
}

.home .content h3{
  font-size: 6rem;
  color: #96616B;
}

.home .content span{
  font-size: 3.5rem;
  color: #E2A0FF;
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p{
  font-size: 1.5rem;
  color: #96616B;
  padding: 1rem 0;
  line-height: 1.5;
}

.submit{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #96616B;
  color: #fff;
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.submit:hover{
  background: #E2A0FF;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #96616B;
  padding: 1rem;
  margin: 2rem 0;
  background: #FDFFFC;
}
/* body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
  color: rgb(46, 45, 77);
  background-color: rgb(237, 201, 255);
}

main {
  display: flex;
  justify-content: center;
}

header > nav {
  grid-area: nav;
  background-color: #2E2D4D;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

 li > a {
  color: #FED4E7;
  text-decoration: none;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  text-decoration: none;
  color: #FED4E7;
}

.login img {
  height: 30px;
}

nav .logo {
  display: flex;
  justify-content: flex-start 1;
}

.navmenu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.search, .submit {
  width:200px;
  padding:10px;
  border-radius:10px;
  width:30%;
}

.submit {
  padding:10px;
  border: none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:30%; */
}

